body {
  margin: 0px;
}
body * {
  box-sizing: border-box;
}
body > * > * {
  margin-left: 10%;
  margin-right: 10%;
}
.first {
  background-color: #1f2937;
  font-family: Roboto;
  height: 39%;
}
#bar {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
}
a:active {
  color: yellow;
  background-color: blue;
}
a:visited {
  border-bottom: none;
  color: grey;
}
#logo {
  width: 5em;
  height: auto;
}
h1 {
  font-size: 4.18vw;
  font-weight: 900;
  margin: 0;
}
#header-text {
  color: #f9faf8;
  display: flex;
  flex-wrap: wrap;
}
#imgdiv {
  display: flex;
  justify-content: center;
}
img {
  width: 40vw;
  height: 20vw;
}
#header-text > div {
  flex: 1;
}
button {
  background-color: #3882f6;
}
#header-text button {
  border: none;
}
#textdiv p {
  font-size: 1.6vw;
}
