body {
  margin: 0px;
}
body * {
  box-sizing: border-box;
}
body > * {
  padding-right: 10%;
  padding-left: 10%;
}
nav {
  margin-bottom: 2rem;
}
nav > div > a {
  margin-left: 2em;
}
.first {
  background-color: #1f2937;
  font-family: Roboto;
  color: #f9faf8;
  height: 39%;
  padding-bottom: 5rem;
}
#bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo {
}
h1 {
  font-size: 4.18vw;
  font-weight: 900;
  margin: 0;
}
#header-text {
  display: flex;
}
#imgdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
#imgdiv > img {
  width: 200px;
}
#header-text > div {
  flex: 1;
}
button {
  background-color: #3882f6;
}
#header-text button {
  border: none;
}
#textdiv p {
  font-size: 1.6vw;
  margin: 0;
  color: #e5e7eb;
}
#textdiv > div {
}
