body {
  margin: 0px;
}
body * {
  box-sizing: border-box;
}
body > * {
  padding-right: 10%;
  padding-left: 10%;
}
div {
  border: 1px solid greenyellow;
}
.first {
  background-color: #1f2937;
  font-family: Roboto;
  height: 39%;
}
#bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#bar:first-child {
}

h1 {
  font-size: 4.18vw;
  font-weight: 900;
  margin: 0;
}
#header-text {
  color: #f9faf8;
  display: flex;
  flex-wrap: wrap;
}
#imgdiv {
  flex: 1 1 200px;
  display: flex;
  justify-content: center;
}
img {
  width: 40vw;
  height: 20vw;
}
#header-text > div {
  /* flex: 1; */
}
button {
  background-color: #3882f6;
}
#header-text button {
  border: none;
}
#textdiv p {
  font-size: 1.6vw;
  margin: 0;
}
#textdiv > div {
}
